hebrew-university-bible-project/resources/odd/hubp.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>HUBP draft odd</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="hubp.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-03-25+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="hubp" source="teipublisher.odd"> <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?display='apparatus'" behaviour="block">
            <desc>apparatus section is rendered LTR</desc>
        </model>
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section" cssClass="rtl"/>
                    <model behaviour="block" cssClass="rtl">
            <desc>default content rendering is RTL</desc>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change"/>
                <elementSpec ident="w" mode="change">
                    <model predicate="$mode='app-internal'" behaviour="pass-through">
            <param name="key" value="@corresp"/>
            <pb:template xmlns="" xml:space="preserve"><pb-highlight key="[[key]]" highlight-self="highlight-self">[[content]]</pb-highlight></pb:template>
        </model>
                    <model predicate="$parameters?display='apparatus'" behaviour="pass-through">
            <desc>check if there's an app entry where lem/@corresp matches this word's id and display it</desc>
            <param name="content" value="let $doc-id := ancestor::TEI/@xml:id let $app-id := $doc-id || '_app3' let $app := collection('/db/apps/hubp/data')/id($app-id) let $id := @xml:id  return $app//w[@corresp=$id]/ancestor::app"/>
        </model>
                    <model predicate="@xml:id" behaviour="pass-through">
            <param name="key" value="@xml:id"/>
            <param name="original" value="original"/>
            <param name="punctuation" value="punctuation"/>
            <param name="stripped" value="stripped"/>
            <pb:template xmlns="" xml:space="preserve"><pb-highlight key="[[key]]">
<pb-popover class="w-original">
      <span slot="default">[[original]]</span>
      <template slot="alternate">
          [[punctuation]] <br/> [[stripped]]
      </template>
</pb-popover>
<pb-popover class="w-alternate">
      <span slot="default">[[stripped]]</span>
      <template slot="alternate">
         [[original]] <br/> [[punctuation]] 
      </template>
</pb-popover></pb-highlight></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model predicate="$parameters?display='apparatus' and @type=&#34;verse&#34;" behaviour="block">
            <param name="content" value="('Verse ' || substring-after(@xml:id, 'verse'), .)"/>
        </model>
                    <model output="print" predicate="ancestor::note" behaviour="inline"/>
                    <model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="$parameters?display='apparatus'" behaviour="inline"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
            <elementSpec ident="app" mode="add">
                    <model behaviour="pass-through">
            <param name="id" value="@xml:id"/>
            <param name="lem" value="lem"/>
            <param name="rdg" value="rdgGrp"/>
            <param name="note" value="note[@type=&#34;import&#34;]"/>
            <param name="refs" value="listRef"/>
            <pb:template xmlns="" xml:space="preserve"><span class="app" id="[[id]]">
  <pb-popover theme="material">
      <span slot="default"><seg class="app-id">[[id]]</seg></span>
      <template slot="alternate">
          [[note]]
      </template>
</pb-popover>
  
  <seg class="app-lem">[[lem]]</seg>]
    <seg class="app-rdg">[[rdg]]</seg>
  [[refs]]
</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="lem" mode="add">
                    <model predicate="$parameters?display='apparatus'" behaviour="inline" pb:mode="app-internal"/>
                </elementSpec>
            <elementSpec ident="rdgGrp" mode="add">
                    <model behaviour="pass-through">
            <desc>explicitly reordering the content processed, so witness sigla are before the alternative reading</desc>
            <param name="note" value="note"/>
            <param name="rdg" value="rdg"/>
            <param name="witnesses" value="wit"/>
            <param name="type" value="switch (@type)     case 'addition' return '+ '     case 'omission' return '&amp;gt; '     default return ()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="rdgGrp">
  [[type]]
  [[witnesses]]
  [[rdg]]
  [[note]]
</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="wit" mode="add">
                    <model behaviour="pass-through">
            <desc>this can be extended to look up witness labels by id; atm displays the numeric part, followed by any added information from the ana attirubte</desc>
            <param name="content" value="(substring-after(@wit, '#wit-'), ' ')"/>
            <param name="ana" value="if (string(@ana)) then '(' || @ana || ') ' else ()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="app-wit">[[content]] [[ana]]</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="parent::listRef" behaviour="link">
            <param name="uri" value="'#' || @target"/>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>